[Unit]
Description=Star Rupture Dedicated Server.
After=network.target
Wants=network.target

[Service]
Type=simple
RestartSec=5s
{% if star_rupture_flg_update %}
ExecStartPre={{ star_rupture___app._steamcmd }} +app_update {{ star_rupture___release._app_id }} {{ star_rupture__srv._update_opts }} +quit
{% endif %}
ExecStartPre={{ star_rupture___app._auto_load_save }}
ExecStart=/usr/bin/xvfb-run --server-args='-screen 0 640x480x24:32' --auto-servernum wine {{ star_rupture___app._bin }} {{ star_rupture__srv._launch_opts }}
WorkingDirectory={{ star_rupture___app._root_d }}
Environment="WINEARCH=win64"
Environment="WINEPREFIX={{ steam__ctx._home ~ '/.wine' }}"
Environment="LD_LIBRARY_PATH={{ star_rupture___app._root_d }}:{{ star_rupture___app._root_d }}/bin"
User={{ steam__ctx._user }}
Group={{ steam__ctx._group }}
# Graceful shutdown 60s time limit before SIGKILL.
KillSignal=SIGTERM
KillMode=mixed
TimeoutStopSec=60
Restart=always

[Install]
WantedBy=multi-user.target
